
<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">
    <div class="post-block h-100">
        <div class="media-wrapper">
            {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-fluid">{{ end }}
        </div>

        <div class="content">
            <h3>{{ with .Params.name}}{{.}}{{else}}{{ .Title }}{{end}}</h3>
            {{ if eq .Params.author "پویش" }}
                <a href="{{ .Permalink }}">خلاصه مطالب و دانلود فایل</a>
            {{ else if eq .Params.author "پادکست"}}
            <a href="{{ .Params.file | absURL }}" download  class="btn btn-dark">
                <h5><i class="tf-ion-ios-download-outline"></i> دانلود فایل</h5>
            </a>
            {{ else if eq .Params.author "صنفی"}}
            <p>{{ .Params.shamsiDate }}</p>
            <a href="{{ .Params.file | absURL }}" download  class="btn btn-dark">
                <h5><i class="tf-ion-ios-download-outline"></i> دانلود فایل</h5>
            </a>
            {{ else }}
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}">بیشتر بخوانید...</a>
            {{ end }}
        </div>
    </div>
</article>
