{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item"><a href="/author/{{ urlize .Params.author}}">{{ .Params.author }}</a></li>
                    <time datetime="{{ .Date }}">{{ .Params.shamsidate }}</time>
                </ul>
                {{ with .Params.image }}<img class="img-fluid mb-50" src="{{ . | absURL }}" alt="blog-image">{{ end }}
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="post-single-content">
                    {{ .Content }}
                </div>
                {{ if .Params.file }}
                <h2><a href="{{ .Params.file }}" download="{{ .Title }}">kjhsfk</a></h2>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
