{{ if .Site.Data.blog.enable}}
{{"<!-- Start Blog Section -->" | safeHTML}}
{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="blog" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.blog.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.blog.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{"<!-- /section title -->" | safeHTML}}
            {{range where .Site.RegularPages "Section" "blog"}}
            <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                <div class="post-block h-100">
                    <div class="media-wrapper">
                        {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-fluid">{{ end }}
                    </div>

                    <div class="content">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                        <a href="{{ .Permalink }}">بیشتر بخوانید...</a>
                    </div>
                </div>
            </article>
            {{ end }}

<!--            {{ range .Data.Pages }}-->
<!--            {{"&lt;!&ndash; single blog post &ndash;&gt;" | safeHTML}}-->
<!--            <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">-->
<!--                <div class="post-block h-100">-->
<!--                    <div class="media-wrapper">-->
<!--                        {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-fluid">{{ end }}-->
<!--                    </div>-->

<!--                    <div class="content">-->
<!--                        <h3>{{ .Title }}</h3>-->
<!--                        <p>{{ .Summary }}</p>-->
<!--                        <a href="{{ .Permalink }}">بیشتر بخوانید...</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </article>-->
<!--            {{"&lt;!&ndash; /single blog post &ndash;&gt;" | safeHTML}}-->
<!--            {{ end }}-->

            <div class="all-post text-center col-lg-12">
                <a class="btn btn-main" href="{{ if .Site.GetPage "/all-post" }}/all-post{{ else }}/posts{{end}}"><strong>همه پست ها</strong></a>
            </div>
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}
