{{ define "main" }}

{{ partial "navigation.html" . }}
<!--{{ if .Content}}-->
<section class="section section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content text-center">
                       {{ partial "author-figure" . }}
                    <hr>
                    <h5>{{ .Content }}</h5>
                    <hr>
                    <div class="list-group">
                        {{ with .Params.github }}
                        <div>
                            <i class="tf-ion-social-github-outline mr-1"></i>
                            <span>GitHub: <a href="https://github.com/{{.}}">github.com/{{.}}</a>
                            </span>
                        </div>
                        {{ end }}

                        {{ with .Params.email }}
                        <div>
                            <i class="tf-ion-email mr-1"></i>
                            <span>Mail: {{.}}</span>
                        </div>
                        {{ end }}

                        {{ with .Params.facebook }}
                        <div>
                            <i class="tf-ion-social-facebook-outline mr-1"></i>
                            <span>Facebook: <a href="https://facebook.com/{{.}}">facebook.com/{{.}}</a>
                            </span>
                        </div>
                        {{ end }}

                        {{ with .Params.twitter }}
                        <div>
                            <i class="tf-ion-social-twitter-outline mr-1"></i>
                            <span>Twitter: <a href="https://twitter.com/{{.}}">twitter.com/{{.}}</a>
                            </span>
                        </div>
                        {{ end }}

                        {{ with .Params.instagram }}
                        <div>
                            <i class="tf-ion-social-instagram-outline mr-1"></i>
                            <span>Instagram: <a href="https://instagram.com/{{.}}">instagram.com/{{.}}</a>
                            </span>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--{{ end }}-->
{{ if eq .Params.name "پویش" }}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2><span class="color">نسخه ها</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{ range .Data.Pages.ByDate.Reverse }}
                {{ .Render "article" }}
            {{ end }}
        </div>
    </div>
    </div>
</section>
{{ else if eq .Params.name "پادکست"}}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2><span class="color">اپیزودها</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{ range .Data.Pages }}
            {{ .Render "article" }}
            {{ end }}
        </div>
    </div>
    </div>
</section>
{{ else if eq .Params.name "صنفی"}}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2><span class="color">گزارش ها</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{ range .Data.Pages }}
            {{ .Render "article" }}
            {{ end }}
        </div>
    </div>
    </div>
</section>
{{ else }}
<section class="section">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="title text-center">
                        <h2><span class="color">نوشته ها</span></h2>
                        <div class="border-meghna"></div>
                    </div>
                </div>
                {{ range .Data.Pages }}
                {{ .Render "article" }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
